<section class="hero is-white">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://github.com/anfederico/Flaskex/raw/master/media/flaskex-logo.png" alt="Flaskex_logo">
        <h6 href="/" class="subtitle"><strong>Flaskex</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a href="/logout" class="button is-primary is-outlined">
                <span>Logout</span>
              </a>
            </p>
            <p class="control">
              <a href="/settings" class="button is-primary is-outlined">
                <span id="cog" class="icon">
                  <i class="fa fa fa-cog"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section>