{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Flaskex</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="settings" class="settings-box">
        <div class="settings-area">    
          <h1 class="title">Settings</h1>         
          <div class="field">
            <p class="control has-icons-left">
              <input id="settings-user" class="input is-success" type="text" placeholder="{{user.username}}" readonly="readonly">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="settings-mail" class="input is-success" type="text" placeholder="{{user.email}}">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="settings-pass" class="input" type="password" placeholder="&#x2022&#x2022&#x2022&#x2022&#x2022">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <br>
          <a id="save" class="form-button button is-primary is-inverted is-outlined">
            <span>Save</span>
          </a>
          <a href="/" class="form-button button is-primary is-inverted is-outlined">
            <span>Exit</span>
          </a>
          <br>
          <br>
          <i><a id="feedback" class="feedback"></a></i>
        </div>
      </div>    
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
